@using PhoneBook
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/css/Home.css" />
    <script src="~/js/bootstrap-rtl.js"></script>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>


    <div class="main-w3layouts wrapper">
        <h1>Phone Book</h1>
        <div class="main-agileinfo text-align: center;">
            <div style="padding:0" class="justify-content-center agileits-top">
                <button class="addButton" onclick="ShowSignUp()">add contact</button>
            </div>
        </div>
    </div>

    <div style="width: 60%; margin-top: 0;" id="Login" class="main-agileinfo">
        <div class="agileits-top">
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>first name</th>
                            <th>last name</th>
                            <th>phone number</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody id="contactTable">
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 3</td>
                            <td>
                                <button class="editButton">
                                    edit
                                </button>
                                <button class="deleteButton">
                                    delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div style="display: none;position: absolute; top: 10%;left: 30%;width: 40%;height: 50%;background-color: rgb(48, 46, 2);" class="main-agileinfo">
        <div class="agileits-top">
            <form onsubmit="Login()">
                <button style="position: absolute;right: 0%;top: 0% ;width: 5%;height: 5%;padding: 0%;margin: 0%;text-align: center;" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input class="text" type="text" Id="first name" placeholder="first name" required=""><br>
                <input class="text" type="text" Id="last name" placeholder="last name" required=""><br>
                <input class="text" type="text" Id="phone number" placeholder="phone number" required="">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <script>
    </script>
</body>
</html>